.nav {
    text-align: center;

    border-style: dotted;

    width: 50%;

    margin: auto;

    list-style: none;

    padding-left: 0;
}

.nav>li {
   border: ridge;

   display: inline-block; 
   
    border-style: outset;
}

.nav>li>a {
    text-decoration: none;

    color: black;
}

p {
    color: black;
    font-family: fantasy; 
  
    font-size: 20px;
}